.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  border-radius: var(--mantine-radius-sm);
  transition: background-color 150ms ease;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.userInfo {
  flex: 1;
  min-width: 0;
}

.icon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
  flex-shrink: 0;
}
